<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.AdminMapper">

	<select id="getAdminData" resultType="AdminDTO" parameterType="hashmap">

		select adminid,adminpw from admin where adminid=#{adminid} and adminpw
		=#{adminpw}

	</select>

	<select id="getSalesChartDatas" resultType="SalesDTO" parameterType="hashmap">
		select telecom_num , sum(PHONE_PRICE),sum(phone_amount) as "PHONE_PRICE"
		from SALES_STATUS
		where orderdate between '2017/01/01' and '2017/1/31'
		group by telecom_num
	</select>
</mapper>





