Button builder.
Change Tool

Global Settings
Button Label

Padding
Font Size
Corner Roundness
Border Thickness
Highlights
Inner
Outer
Normal State
Text Color
Text Shadow Color
Border Color
Top Gradient Color
Bottom Gradient Color
Hover State
Text Color
Text Shadow Color
Border Color
Top Gradient Color
Bottom Gradient Color
Pressed State
Text Color
Text Shadow Color
Border Color
Top Gradient Color
Bottom Gradient Color
Done designing? Click the buttons to get your custom code.
Generate CSS
Generate HTML
Your Button CSS
close
.button {
   border: 2px solid #ff0000;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
   background: -webkit-linear-gradient(top, #ff0000, #ff0000);
   background: -moz-linear-gradient(top, #ff0000, #ff0000);
   background: -ms-linear-gradient(top, #ff0000, #ff0000);
   background: -o-linear-gradient(top, #ff0000, #ff0000);
   background-image: -ms-linear-gradient(top, #ff0000 0%, #ff0000 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ff0000 0 1px 0;
   color: #ff0000;
   font-size: 9px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 2px solid #ff0000;
   text-shadow: #ff0000 0 1px 0;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
   background: -webkit-linear-gradient(top, #ff0000, #ff0000);
   background: -moz-linear-gradient(top, #ff0000, #ff0000);
   background: -ms-linear-gradient(top, #ff0000, #ff0000);
   background: -o-linear-gradient(top, #ff0000, #ff0000);
   background-image: -ms-linear-gradient(top, #ff0000 0%, #ff0000 100%);
   color: #ff0000;
   }
.button:active {
   text-shadow: #ff0000 0 1px 0;
   border: 2px solid #ff0000;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
   background: -webkit-linear-gradient(top, #ff0000, #ff0000);
   background: -moz-linear-gradient(top, #ff0000, #ff0000);
   background: -ms-linear-gradient(top, #ff0000, #ff0000);
   background: -o-linear-gradient(top, #ff0000, #ff0000);
   background-image: -ms-linear-gradient(top, #ff0000 0%, #ff0000 100%);
   color: #ff0000;
   }
