@charset "UTF-8";

.left_menu {
	float: left;
	font-weight: bold;
	width: 10%;
	background-color: gray;
	
}


.content_menu {
	float: right;
	font-weight: bold;
	text-decoration: none;
	width: 80%;
}